@using MarineFarm.DTO;
@model IEnumerable<HistorialMateriaPrimaDTO_out>

@{
    ViewData["Title"] = ViewBag.heading = "Historial Materia Prima";
    // => este es sobre el boton para expandir y el grupo de botones
    ViewBag.MateriaPrimaAriaExpanded = "true";
    ViewBag.MateriaPrimaGroupActive = "active";
    // => este es simplemente para que se vea la poscicion actual
    ViewBag.MateriaPrimaColapseGroup = "show";
    ViewBag.HMateriaPrimaNavLink = "active";

}

<form asp-action="Historial" method="post" >
    <div class="row mt-4">
        <div class="col-12 text-center">
            <div class="card">
            <div class="card-header">
                Rango de busqueda
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-6">
                         <label for="Inicio" class="control-label" >Inicio </label>   
                         <input name="Inicio" id="Inicio" class="form-control" type="date" value="@ViewBag.fi"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Fin" class="control-label">fin </label>
                        <input name="Fin" id="Fin" class="form-control" type="date" value="@ViewBag.ff"/>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <input type="submit" class="btn btn-primary" value="filtrar"/>
            </div>
        </div>
        </div>
    </div>
</form>

<div class="row mt-4">
    <div class="col-12">
        <div class="card p-3">
            <!-- Card header -->
            <div class="card-header">
                <form asp-action="ExcelHistoria" method="post" >
                   <input hidden name="Inicio" id="Inicio" class="form-control" type="date" value="@ViewBag.fi"/>
                   <input hidden name="Fin" id="Fin" class="form-control" type="date" value="@ViewBag.ff"/>
                    <button type="submit" class="btn btn-success" > <i class="fa-solid fa-file-excel"></i> </button>
                </form>
                <h5 class="mb-0">Historial De Ingreso y Egresos de la materia prima</h5>
            </div>
            <div class="table-responsive">
                <table class="table table-flush" id="MarineTable">
                    <thead class="thead-dark">
                        <tr class="text-center">
                            <th> Fecha </th>
                            <th>Movimiento</th>
                            <th>Marisco</th>
                            <th>Cantidad</th>
                            <th>Quien Registro</th>
                            <th>RUT</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Count() > 0)
                            @foreach (var item in Model)
                            {
                                string ingreso = item.Ingreso ? "Ingreso" : "Egreso";

                                <tr class="text-center">
                                    <td class=" text-sm font-weight-bold">@item.Fecha.ToString("dd/MM/yyyy")</td>
                                    <td class="text-sm font-weight-normal">@ingreso</td>
                                    <td class="text-sm font-weight-normal">@item.Marisco</td>
                                    <td class="text-sm font-weight-normal">@item.Cantidad</td>
                                    <td class="text-sm font-weight-normal">@item.NombreQuienRegistro</td>
                                    <td class="text-sm font-weight-normal">@item.rutQuienRegistro</td>
                                </tr>
                            }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}