
@using MarineFarm.Reportes.TotalProduccion


@{
    ReporteTotalProduccion reporte = ViewBag.Reporte;    

    ViewData["Title"] = ViewBag.heading = "Reporte De Produccion";
    // => este es sobre el boton para expandir y el grupo de botones
    ViewBag.ReporteProduccionAriaExpanded = "true";
    ViewBag.ReporteProduccionGroupActive = "active";
    // => este es simplemente para que se vea la poscicion actual
    ViewBag.ReporteProduccionColapseGroup = "show";
    ViewBag.ReporteProduccionNavLink = "active";
}

@if(reporte==null)
{
    
    <p>upps, algo salio mal al generar el reporte. Intente de nuevo mas tarde.</p>
}
else
{
    <div class="row mt-4">
    <div class="col-12">
        <div class="card p-3">
            <!-- Card header -->
            <div class="card-header">
                <p class="text-sm mb-0">
                    <form asp-controller="ReporteProduccion" method="post" asp-action="Excel" >
    
                          <select hidden id="Mariscoid" multiple name="Mariscoid" asp-items=@ViewBag.ids>
                          </select>
                         <input hidden class="form-control" type="date" aria-describedby="addon-wrapping1" value=@ViewBag.fi name="Inicio" id="Inicio" />
                         <input hidden class="form-control" type="date" aria-describedby="addon-wrapping2" value=@ViewBag.ff name="Fin" id="Fin" />
    
                         <button type="submit" class="btn btn-success"><i class="fa-solid fa-file-excel"></i></button>
                    </form>
                </p>
                <h4 class="mb-0 card-title">Reporte De Produccion</h4>
                <h5 class="mb-1 card-text text-muted">Periodo del @reporte.Inicio.ToString("dd/MM/yyyy") al @reporte.Fin.ToString("dd/MM/yyyy")</h5>
            </div>
            <div class="card-body">
                <h5 class="card-subtitle">
                    Estudio del periodo
                </h5>
                @foreach (var estudio in reporte.Estudio)
                @if(estudio.Mensaje==string.Empty){
                   <div class="row">
                        <div class="col-md-6">
                            <h6 class="card-subtitle">@estudio.Marisco.Name</h6>    
                        </div>
                        <div class="col-md-6">
                            <p class="card-text text-muted">@estudio.Mensaje</p>    
                        </div>
                        <div class="col-md-6">
                            <p class="card-text">Cantidad Gastada: @estudio.CantidadUtilizada Kg</p>    
                        </div>
                        <div class="col-md-6">
                            <p class="card-text">Merma: @estudio.Merma Kg</p>    
                        </div>
                   </div>
                   <div class="table table-responsive">
                       <table>
                           <thead>
                               <tr>
                                   <th>
                                       Tipo Produccion
                                   </th>
                                   <th>
                                       Calibre
                                   </th>
                                   <th>
                                       Total Producido
                                   </th>
                               </tr>
                           </thead>
                           <tbody>
                           @foreach (var loop in estudio.loop)
                           {
                            <tr>
                                <td>
                                    @loop.TipoProd.Name
                                </td>
                                <td>
                                    @loop.Calibre.Name
                                </td>
                                <td>
                                    @loop.TotalProducido
                                </td>
                            </tr>                           
                           }
                           </tbody>
                       </table>
                   </div>
                }
            </div>
            <div class="card-footer">
                <p class="card-subtitle text-muted">
                    Reporte Generado: @reporte.fechaGenerado.ToString("dd/MM/yyyy")
                </p>
            </div>
            </div>
        </div>
     </div>

}


