<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MarineFarm</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MarineFarm.styles.css" asp-append-version="true" />
    <!-- template headers -->
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="~/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="~/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link id="pagestyle" href="~/assets/css/soft-ui-dashboard.css?v=1.0.7" rel="stylesheet" />
    <!--data table css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/DataTable.css">
 
</head>



<body class="g-sidenav-show  bg-gray-100">
    @if (User.Identity.IsAuthenticated)
    {

        <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 " id="sidenav-main">

            <div class="sidenav-header">
                <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
               aria-hidden="true" id="iconSidenav"></i>
                <a class="navbar-brand m-0" asp-controller="Home" asp-action="Index">
                    <img src="/assets/img/logo.jpg" class="navbar-brand-img h-100" alt="main_logo">
                    <span class="ms-1 font-weight-bold">Marine Farm</span>
                </a>
            </div>
            <hr class="horizontal dark mt-0">

            <div class="collapse navbar-collapse  w-auto h-auto h-100" id="sidenav-collapse-main">
                <ul class="navbar-nav">

                        <!--Pedido-->
                <li class="nav-item mt-3">
                        <h6 class="ps-4  ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Pedido</h6>
                    </li>
                    <li class="nav-item">
                        <a data-bs-toggle="collapse" href="#PedidoPage" class="nav-link @ViewBag.PedidoGroupActive" aria-controls="PedidoPage" role="button" aria-expanded="false">
                            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center d-flex align-items-center justify-content-center  me-2">
                                <svg width="12px" height="12px" viewBox="0 0 42 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <title>office</title> <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-1869.000000, -293.000000)" fill="#FFFFFF" fill-rule="nonzero"> <g transform="translate(1716.000000, 291.000000)"> <g id="office" transform="translate(153.000000, 2.000000)"> <path class="color-background" d="M12.25,17.5 L8.75,17.5 L8.75,1.75 C8.75,0.78225 9.53225,0 10.5,0 L31.5,0 C32.46775,0 33.25,0.78225 33.25,1.75 L33.25,12.25 L29.75,12.25 L29.75,3.5 L12.25,3.5 L12.25,17.5 Z" opacity="0.6"></path> <path class="color-background" d="M40.25,14 L24.5,14 C23.53225,14 22.75,14.78225 22.75,15.75 L22.75,38.5 L19.25,38.5 L19.25,22.75 C19.25,21.78225 18.46775,21 17.5,21 L1.75,21 C0.78225,21 0,21.78225 0,22.75 L0,40.25 C0,41.21775 0.78225,42 1.75,42 L40.25,42 C41.21775,42 42,41.21775 42,40.25 L42,15.75 C42,14.78225 41.21775,14 40.25,14 Z M12.25,36.75 L7,36.75 L7,33.25 L12.25,33.25 L12.25,36.75 Z M12.25,29.75 L7,29.75 L7,26.25 L12.25,26.25 L12.25,29.75 Z M35,36.75 L29.75,36.75 L29.75,33.25 L35,33.25 L35,36.75 Z M35,29.75 L29.75,29.75 L29.75,26.25 L35,26.25 L35,29.75 Z M35,22.75 L29.75,22.75 L29.75,19.25 L35,19.25 L35,22.75 Z"></path> </g> </g> </g> </g> </svg>
                            </div>
                            <span class="nav-link-text ms-1">Pedido</span>
                        </a>
                        <div class="collapse @ViewBag.PedidoColapseGroup" id="PedidoPage">
                            <ul class="nav ms-4 ps-3">
                                <li class="nav-item ">
                                    <a class="nav-link @ViewBag.PedidoNavLink" asp-controller="Pedido" asp-action="Index">
                                        <span class="sidenav-mini-icon"> A </span>
                                        <span class="sidenav-normal"> Activos </span>
                                    </a>
                                </li>
                              
                            </ul>
                             <ul class="nav ms-4 ps-3">
                                <li class="nav-item ">
                                    <a class="nav-link @ViewBag.GPedidoNavLink" asp-controller="Pedido" asp-action="Generar">
                                        <span class="sidenav-mini-icon"> G </span>
                                        <span class="sidenav-normal"> Generar </span>
                                    </a>
                                </li>
                              
                            </ul>
                        </div>
                    </li>

                    <!--Produccion-->
                <li class="nav-item mt-3">
                        <h6 class="ps-4  ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Produccion</h6>
                    </li>
                    <li class="nav-item">
                        <a data-bs-toggle="collapse" href="#ProduccionPage" class="nav-link @ViewBag.ProduccionGroupActive" aria-controls="ProduccionPage" role="button" aria-expanded="false">
                            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center d-flex align-items-center justify-content-center  me-2">
                                <svg width="12px" height="12px" viewBox="0 0 42 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <title>office</title> <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-1869.000000, -293.000000)" fill="#FFFFFF" fill-rule="nonzero"> <g transform="translate(1716.000000, 291.000000)"> <g id="office" transform="translate(153.000000, 2.000000)"> <path class="color-background" d="M12.25,17.5 L8.75,17.5 L8.75,1.75 C8.75,0.78225 9.53225,0 10.5,0 L31.5,0 C32.46775,0 33.25,0.78225 33.25,1.75 L33.25,12.25 L29.75,12.25 L29.75,3.5 L12.25,3.5 L12.25,17.5 Z" opacity="0.6"></path> <path class="color-background" d="M40.25,14 L24.5,14 C23.53225,14 22.75,14.78225 22.75,15.75 L22.75,38.5 L19.25,38.5 L19.25,22.75 C19.25,21.78225 18.46775,21 17.5,21 L1.75,21 C0.78225,21 0,21.78225 0,22.75 L0,40.25 C0,41.21775 0.78225,42 1.75,42 L40.25,42 C41.21775,42 42,41.21775 42,40.25 L42,15.75 C42,14.78225 41.21775,14 40.25,14 Z M12.25,36.75 L7,36.75 L7,33.25 L12.25,33.25 L12.25,36.75 Z M12.25,29.75 L7,29.75 L7,26.25 L12.25,26.25 L12.25,29.75 Z M35,36.75 L29.75,36.75 L29.75,33.25 L35,33.25 L35,36.75 Z M35,29.75 L29.75,29.75 L29.75,26.25 L35,26.25 L35,29.75 Z M35,22.75 L29.75,22.75 L29.75,19.25 L35,19.25 L35,22.75 Z"></path> </g> </g> </g> </g> </svg>
                            </div>
                            <span class="nav-link-text ms-1">Produccion</span>
                        </a>
                        <div class="collapse @ViewBag.ProduccionColapseGroup" id="ProduccionPage">
                            <ul class="nav ms-4 ps-3">
                                <li class="nav-item ">
                                    <a class="nav-link @ViewBag.ProduccionNavLink" asp-controller="Produccion" asp-action="Index">
                                        <span class="sidenav-mini-icon"> P </span>
                                        <span class="sidenav-normal"> Produccion </span>
                                    </a>
                                </li>
                              
                            </ul>
                             <ul class="nav ms-4 ps-3">
                                <li class="nav-item ">
                                    <a class="nav-link @ViewBag.HProduccionNavLink" asp-controller="Produccion" asp-action="Historial">
                                        <span class="sidenav-mini-icon"> H </span>
                                        <span class="sidenav-normal"> Historial </span>
                                    </a>
                                </li>
                              
                            </ul>
                        </div>
                    </li>
                    <!--Stock -->

                    <!--Materia Prima -->
                <li class="nav-item mt-3">
                        <h6 class="ps-4  ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Stock</h6>
                    </li>
                    <li class="nav-item">
                        <a data-bs-toggle="collapse" href="#PageMateriaPrima" class="nav-link @ViewBag.MateriaPrimaGroupActive" aria-controls="PageMateriaPrima" role="button" aria-expanded="false">
                            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center d-flex align-items-center justify-content-center  me-2">
                                <svg width="12px" height="12px" viewBox="0 0 42 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <title>office</title> <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-1869.000000, -293.000000)" fill="#FFFFFF" fill-rule="nonzero"> <g transform="translate(1716.000000, 291.000000)"> <g id="office" transform="translate(153.000000, 2.000000)"> <path class="color-background" d="M12.25,17.5 L8.75,17.5 L8.75,1.75 C8.75,0.78225 9.53225,0 10.5,0 L31.5,0 C32.46775,0 33.25,0.78225 33.25,1.75 L33.25,12.25 L29.75,12.25 L29.75,3.5 L12.25,3.5 L12.25,17.5 Z" opacity="0.6"></path> <path class="color-background" d="M40.25,14 L24.5,14 C23.53225,14 22.75,14.78225 22.75,15.75 L22.75,38.5 L19.25,38.5 L19.25,22.75 C19.25,21.78225 18.46775,21 17.5,21 L1.75,21 C0.78225,21 0,21.78225 0,22.75 L0,40.25 C0,41.21775 0.78225,42 1.75,42 L40.25,42 C41.21775,42 42,41.21775 42,40.25 L42,15.75 C42,14.78225 41.21775,14 40.25,14 Z M12.25,36.75 L7,36.75 L7,33.25 L12.25,33.25 L12.25,36.75 Z M12.25,29.75 L7,29.75 L7,26.25 L12.25,26.25 L12.25,29.75 Z M35,36.75 L29.75,36.75 L29.75,33.25 L35,33.25 L35,36.75 Z M35,29.75 L29.75,29.75 L29.75,26.25 L35,26.25 L35,29.75 Z M35,22.75 L29.75,22.75 L29.75,19.25 L35,19.25 L35,22.75 Z"></path> </g> </g> </g> </g> </svg>
                            </div>
                            <span class="nav-link-text ms-1">Materia Prima</span>
                        </a>
                        <div class="collapse @ViewBag.MateriaPrimaColapseGroup" id="PageMateriaPrima">
                            <ul class="nav ms-4 ps-3">
                                <li class="nav-item ">
                                    <a class="nav-link @ViewBag.CalibreNavLink" asp-controller="MateriaPrima" asp-action="Index">
                                        <span class="sidenav-mini-icon"> A </span>
                                        <span class="sidenav-normal"> Actual</span>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link @ViewBag.InMateriaPrimaNavLink" asp-controller="MateriaPrima" asp-action="ingreso">
                                        <span class="sidenav-mini-icon"> In </span>
                                        <span class="sidenav-normal"> Ingreso</span>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link @ViewBag.HMateriaPrimaNavLink" asp-controller="MateriaPrima" asp-action="Historial">
                                        <span class="sidenav-mini-icon"> H </span>
                                        <span class="sidenav-normal"> Historial</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </li>

                    <!--Almacen -->
                  
                    <li class="nav-item">
                        <a data-bs-toggle="collapse" href="#PageAlmacen" class="nav-link @ViewBag.AlmacenGroupActive" aria-controls="PageAlmacen" role="button" aria-expanded="false">
                            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center d-flex align-items-center justify-content-center  me-2">
                                <svg width="12px" height="12px" viewBox="0 0 42 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <title>office</title> <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-1869.000000, -293.000000)" fill="#FFFFFF" fill-rule="nonzero"> <g transform="translate(1716.000000, 291.000000)"> <g id="office" transform="translate(153.000000, 2.000000)"> <path class="color-background" d="M12.25,17.5 L8.75,17.5 L8.75,1.75 C8.75,0.78225 9.53225,0 10.5,0 L31.5,0 C32.46775,0 33.25,0.78225 33.25,1.75 L33.25,12.25 L29.75,12.25 L29.75,3.5 L12.25,3.5 L12.25,17.5 Z" opacity="0.6"></path> <path class="color-background" d="M40.25,14 L24.5,14 C23.53225,14 22.75,14.78225 22.75,15.75 L22.75,38.5 L19.25,38.5 L19.25,22.75 C19.25,21.78225 18.46775,21 17.5,21 L1.75,21 C0.78225,21 0,21.78225 0,22.75 L0,40.25 C0,41.21775 0.78225,42 1.75,42 L40.25,42 C41.21775,42 42,41.21775 42,40.25 L42,15.75 C42,14.78225 41.21775,14 40.25,14 Z M12.25,36.75 L7,36.75 L7,33.25 L12.25,33.25 L12.25,36.75 Z M12.25,29.75 L7,29.75 L7,26.25 L12.25,26.25 L12.25,29.75 Z M35,36.75 L29.75,36.75 L29.75,33.25 L35,33.25 L35,36.75 Z M35,29.75 L29.75,29.75 L29.75,26.25 L35,26.25 L35,29.75 Z M35,22.75 L29.75,22.75 L29.75,19.25 L35,19.25 L35,22.75 Z"></path> </g> </g> </g> </g> </svg>
                            </div>
                            <span class="nav-link-text ms-1">Almacen</span>
                        </a>
                        <div class="collapse @ViewBag.AlmacenColapseGroup" id="PageAlmacen">
                            <ul class="nav ms-4 ps-3">
                                <li class="nav-item ">
                                    <a class="nav-link @ViewBag.CalibreNavLink" asp-controller="Almacen" asp-action="Index">
                                        <span class="sidenav-mini-icon"> A </span>
                                        <span class="sidenav-normal"> Actual</span>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link @ViewBag.InAlmacenNavLink" asp-controller="Almacen" asp-action="ingreso">
                                        <span class="sidenav-mini-icon"> In </span>
                                        <span class="sidenav-normal"> Ingreso</span>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link @ViewBag.HAlmacenNavLink" asp-controller="Almacen" asp-action="Historial">
                                        <span class="sidenav-mini-icon"> H </span>
                                        <span class="sidenav-normal"> Historial</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </li>

                    <!--Equipos-->
                <li class="nav-item mt-3">
                        <h6 class="ps-4  ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Planta</h6>
                    </li>
                    <li class="nav-item">
                        <a data-bs-toggle="collapse" href="#PageEquipos" class="nav-link @ViewBag.EquipoGroupActive" aria-controls="PageEquipos" role="button" aria-expanded="false">
                            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center d-flex align-items-center justify-content-center  me-2">
                                <svg width="12px" height="12px" viewBox="0 0 42 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <title>office</title> <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-1869.000000, -293.000000)" fill="#FFFFFF" fill-rule="nonzero"> <g transform="translate(1716.000000, 291.000000)"> <g id="office" transform="translate(153.000000, 2.000000)"> <path class="color-background" d="M12.25,17.5 L8.75,17.5 L8.75,1.75 C8.75,0.78225 9.53225,0 10.5,0 L31.5,0 C32.46775,0 33.25,0.78225 33.25,1.75 L33.25,12.25 L29.75,12.25 L29.75,3.5 L12.25,3.5 L12.25,17.5 Z" opacity="0.6"></path> <path class="color-background" d="M40.25,14 L24.5,14 C23.53225,14 22.75,14.78225 22.75,15.75 L22.75,38.5 L19.25,38.5 L19.25,22.75 C19.25,21.78225 18.46775,21 17.5,21 L1.75,21 C0.78225,21 0,21.78225 0,22.75 L0,40.25 C0,41.21775 0.78225,42 1.75,42 L40.25,42 C41.21775,42 42,41.21775 42,40.25 L42,15.75 C42,14.78225 41.21775,14 40.25,14 Z M12.25,36.75 L7,36.75 L7,33.25 L12.25,33.25 L12.25,36.75 Z M12.25,29.75 L7,29.75 L7,26.25 L12.25,26.25 L12.25,29.75 Z M35,36.75 L29.75,36.75 L29.75,33.25 L35,33.25 L35,36.75 Z M35,29.75 L29.75,29.75 L29.75,26.25 L35,26.25 L35,29.75 Z M35,22.75 L29.75,22.75 L29.75,19.25 L35,19.25 L35,22.75 Z"></path> </g> </g> </g> </g> </svg>
                            </div>
                            <span class="nav-link-text ms-1">Equipos</span>
                        </a>
                        <div class="collapse @ViewBag.EquipoColapseGroup" id="PageEquipos">
                            <ul class="nav ms-4 ps-3">
                                <li class="nav-item ">
                                    <a class="nav-link @ViewBag.EquipoNavLink" asp-controller="Equipo" asp-action="Index">
                                        <span class="sidenav-mini-icon"> E </span>
                                        <span class="sidenav-normal"> Equipo</span>
                                    </a>
                                </li>

                                <li class="nav-item ">
                                    <a class="nav-link @ViewBag.CargoNavLink" asp-controller="Cargo" asp-action="Index">
                                        <span class="sidenav-mini-icon"> C </span>
                                        <span class="sidenav-normal"> Cargos</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                       <!--Clientes-->
                <li class="nav-item mt-3">
                        <h6 class="ps-4  ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Cliente</h6>
                    </li>
                    <li class="nav-item">
                        <a data-bs-toggle="collapse" href="#PageClientes" class="nav-link @ViewBag.ClienteGroupActive" aria-controls="PageClientes" role="button" aria-expanded="false">
                            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center d-flex align-items-center justify-content-center  me-2">
                                <svg width="12px" height="12px" viewBox="0 0 42 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <title>office</title> <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-1869.000000, -293.000000)" fill="#FFFFFF" fill-rule="nonzero"> <g transform="translate(1716.000000, 291.000000)"> <g id="office" transform="translate(153.000000, 2.000000)"> <path class="color-background" d="M12.25,17.5 L8.75,17.5 L8.75,1.75 C8.75,0.78225 9.53225,0 10.5,0 L31.5,0 C32.46775,0 33.25,0.78225 33.25,1.75 L33.25,12.25 L29.75,12.25 L29.75,3.5 L12.25,3.5 L12.25,17.5 Z" opacity="0.6"></path> <path class="color-background" d="M40.25,14 L24.5,14 C23.53225,14 22.75,14.78225 22.75,15.75 L22.75,38.5 L19.25,38.5 L19.25,22.75 C19.25,21.78225 18.46775,21 17.5,21 L1.75,21 C0.78225,21 0,21.78225 0,22.75 L0,40.25 C0,41.21775 0.78225,42 1.75,42 L40.25,42 C41.21775,42 42,41.21775 42,40.25 L42,15.75 C42,14.78225 41.21775,14 40.25,14 Z M12.25,36.75 L7,36.75 L7,33.25 L12.25,33.25 L12.25,36.75 Z M12.25,29.75 L7,29.75 L7,26.25 L12.25,26.25 L12.25,29.75 Z M35,36.75 L29.75,36.75 L29.75,33.25 L35,33.25 L35,36.75 Z M35,29.75 L29.75,29.75 L29.75,26.25 L35,26.25 L35,29.75 Z M35,22.75 L29.75,22.75 L29.75,19.25 L35,19.25 L35,22.75 Z"></path> </g> </g> </g> </g> </svg>
                            </div>
                            <span class="nav-link-text ms-1">Clientes</span>
                        </a>
                        <div class="collapse @ViewBag.ClienteColapseGroup" id="PageClientes">
                            <ul class="nav ms-4 ps-3">
                                <li class="nav-item ">
                                    <a class="nav-link @ViewBag.ClienteNavLink" asp-controller="Cliente" asp-action="Index">
                                        <span class="sidenav-mini-icon"> A </span>
                                        <span class="sidenav-normal"> Activos </span>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link @ViewBag.NClienteNavLink" asp-controller="Cliente" asp-action="Crear">
                                        <span class="sidenav-mini-icon"> N </span>
                                        <span class="sidenav-normal"> Nuevo </span>
                                    </a>
                                </li>

                              
                            </ul>
                        </div>
                    </li>


                    <!--para Micelaneos-->
                <li class="nav-item mt-3">
                        <h6 class="ps-4  ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Micelaneos</h6>
                    </li>
                    <li class="nav-item">
                        <a data-bs-toggle="collapse" href="#PageMariscos" class="nav-link @ViewBag.MariscosGroupActive" aria-controls="PageMariscos" role="button" aria-expanded="false">
                            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center d-flex align-items-center justify-content-center  me-2">
                                <svg width="12px" height="12px" viewBox="0 0 42 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <title>office</title> <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-1869.000000, -293.000000)" fill="#FFFFFF" fill-rule="nonzero"> <g transform="translate(1716.000000, 291.000000)"> <g id="office" transform="translate(153.000000, 2.000000)"> <path class="color-background" d="M12.25,17.5 L8.75,17.5 L8.75,1.75 C8.75,0.78225 9.53225,0 10.5,0 L31.5,0 C32.46775,0 33.25,0.78225 33.25,1.75 L33.25,12.25 L29.75,12.25 L29.75,3.5 L12.25,3.5 L12.25,17.5 Z" opacity="0.6"></path> <path class="color-background" d="M40.25,14 L24.5,14 C23.53225,14 22.75,14.78225 22.75,15.75 L22.75,38.5 L19.25,38.5 L19.25,22.75 C19.25,21.78225 18.46775,21 17.5,21 L1.75,21 C0.78225,21 0,21.78225 0,22.75 L0,40.25 C0,41.21775 0.78225,42 1.75,42 L40.25,42 C41.21775,42 42,41.21775 42,40.25 L42,15.75 C42,14.78225 41.21775,14 40.25,14 Z M12.25,36.75 L7,36.75 L7,33.25 L12.25,33.25 L12.25,36.75 Z M12.25,29.75 L7,29.75 L7,26.25 L12.25,26.25 L12.25,29.75 Z M35,36.75 L29.75,36.75 L29.75,33.25 L35,33.25 L35,36.75 Z M35,29.75 L29.75,29.75 L29.75,26.25 L35,26.25 L35,29.75 Z M35,22.75 L29.75,22.75 L29.75,19.25 L35,19.25 L35,22.75 Z"></path> </g> </g> </g> </g> </svg>
                            </div>
                            <span class="nav-link-text ms-1">Producto</span>
                        </a>
                        <div class="collapse @ViewBag.MariscosColapseGroup" id="PageMariscos">
                            <ul class="nav ms-4 ps-3">
                                <li class="nav-item ">
                                    <a class="nav-link @ViewBag.MariscosNavLink" asp-controller="Mariscos" asp-action="Index">
                                        <span class="sidenav-mini-icon"> M </span>
                                        <span class="sidenav-normal"> Mariscos</span>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link @ViewBag.CalibreNavLink" asp-controller="Calibre" asp-action="Index">
                                        <span class="sidenav-mini-icon"> C </span>
                                        <span class="sidenav-normal"> Calibre</span>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link @ViewBag.EmpaquetadoNavLink" asp-controller="Empaquetado" asp-action="Index">
                                        <span class="sidenav-mini-icon"> E </span>
                                        <span class="sidenav-normal"> Empaquetado</span>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link @ViewBag.TPNavLink" asp-controller="TipoProduccion" asp-action="Index">
                                        <span class="sidenav-mini-icon"> TP </span>
                                        <span class="sidenav-normal"> Tipo Prod.</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>



                    <!--Cuentas-->
                <li class="nav-item mt-3">
                        <h6 class="ps-4  ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Usuarios</h6>
                    </li>
                    <li class="nav-item">
                        <a data-bs-toggle="collapse" href="#PageUsuarios" class="nav-link @ViewBag.UsuarioGroupActive" aria-controls="PageUsuarios" role="button" aria-expanded="false">
                            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center d-flex align-items-center justify-content-center  me-2">
                                <svg width="12px" height="12px" viewBox="0 0 42 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <title>office</title> <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-1869.000000, -293.000000)" fill="#FFFFFF" fill-rule="nonzero"> <g transform="translate(1716.000000, 291.000000)"> <g id="office" transform="translate(153.000000, 2.000000)"> <path class="color-background" d="M12.25,17.5 L8.75,17.5 L8.75,1.75 C8.75,0.78225 9.53225,0 10.5,0 L31.5,0 C32.46775,0 33.25,0.78225 33.25,1.75 L33.25,12.25 L29.75,12.25 L29.75,3.5 L12.25,3.5 L12.25,17.5 Z" opacity="0.6"></path> <path class="color-background" d="M40.25,14 L24.5,14 C23.53225,14 22.75,14.78225 22.75,15.75 L22.75,38.5 L19.25,38.5 L19.25,22.75 C19.25,21.78225 18.46775,21 17.5,21 L1.75,21 C0.78225,21 0,21.78225 0,22.75 L0,40.25 C0,41.21775 0.78225,42 1.75,42 L40.25,42 C41.21775,42 42,41.21775 42,40.25 L42,15.75 C42,14.78225 41.21775,14 40.25,14 Z M12.25,36.75 L7,36.75 L7,33.25 L12.25,33.25 L12.25,36.75 Z M12.25,29.75 L7,29.75 L7,26.25 L12.25,26.25 L12.25,29.75 Z M35,36.75 L29.75,36.75 L29.75,33.25 L35,33.25 L35,36.75 Z M35,29.75 L29.75,29.75 L29.75,26.25 L35,26.25 L35,29.75 Z M35,22.75 L29.75,22.75 L29.75,19.25 L35,19.25 L35,22.75 Z"></path> </g> </g> </g> </g> </svg>
                            </div>
                            <span class="nav-link-text ms-1">Usuario</span>
                        </a>
                        <div class="collapse @ViewBag.UsuarioColapseGroup" id="PageUsuarios">
                            <ul class="nav ms-4 ps-3">
                                <li class="nav-item ">
                                    <a class="nav-link @ViewBag.MiCuentaNavLink" asp-controller="Cuentas" asp-action="Index">
                                        <span class="sidenav-mini-icon"> Y </span>
                                        <span class="sidenav-normal"> Mi Cuenta</span>
                                    </a>
                                </li>

                                <li class="nav-item ">
                                    <a class="nav-link text-danger" asp-controller="Cuentas" asp-action="logout">
                                        <span class="sidenav-mini-icon"> S </span>
                                        <span class="sidenav-normal"> Salir</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!--next site-->

            </ul>
            </div>


            @{
                string ScreemRole = "???";
                if (User.IsInRole("AdmoSistema")) ScreemRole = "Admo. Sistema";
                if (User.IsInRole("Gerenteplanta")) ScreemRole = "Gerente Planta";
                if (User.IsInRole("Superv")) ScreemRole = "Supervisor";
                if (User.IsInRole("Cliente")) ScreemRole = "Admo CLiente";
            }

            <div class="sidenav-footer mx-3 mt-5 pt-3">
                <div class="card card-background shadow-none card-background-mask-secondary" id="sidenavCard">
                    <div class="full-background" style="background-image: url('~/assets/img/curved-images/white-curved.jpg')"></div>
                    <div class="card-body text-start p-3 w-100">
                        <div class="docs-info">
                            <a asp-controller="Cuentas" asp-action="Index" class="btn btn-white btn-sm w-100 mb-0">@ScreemRole</a>
                        </div>
                    </div>
                </div>

            </div>
        </aside>
    }
    <main class="main-content border-radius-lg ">
        <!-- Navbar -->
        @if (User.Identity.IsAuthenticated)
        {
            <nav class="navbar navbar-main navbar-expand-lg position-sticky mt-2 top-1 px-0 mx-4 shadow-none border-radius-xl z-index-sticky"
             id="navbarBlur" data-scroll="true">
                <div class="container-fluid py-1 px-3">
                    <div class="sidenav-toggler sidenav-toggler-inner d-xl-block d-none ">
                        <a href="javascript:;" class="nav-link text-body p-0">
                            <div class="sidenav-toggler-inner">
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                            </div>
                        </a>
                    </div>
                    <nav aria-label="breadcrumb">
                        <h6 class="font-weight-bolder ml-3 mb-0 ml-5"> <strong> >  </strong>  @ViewBag.heading</h6>
                    </nav>
                    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                        <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                        </div>
                        <ul class="navbar-nav  justify-content-end">
                            <li class="nav-item d-flex align-items-center">
                                <a asp-controller="Cuentas" asp-action="Index" class="nav-link text-body font-weight-bold px-0"
                               target="_blank">
                                    <i class="fa fa-user me-sm-1"></i>

                                    <span class="d-sm-inline d-none">@User.Identity.Name</span>

                                </a>
                            </li>
                            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                                <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                                    <div class="sidenav-toggler-inner">
                                        <i class="sidenav-toggler-line"></i>
                                        <i class="sidenav-toggler-line"></i>
                                        <i class="sidenav-toggler-line"></i>
                                    </div>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        }
        <!-- End Navbar -->

        <div class="container-fluid">
            <div role="main" class="py-4">
                @RenderBody()
            </div>

        </div>


    </main>





    @*  <footer class="border-top footer text-muted">
        <div class="container">
        &copy; 2022 - MarineFarm - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
        </footer>*@


    <!-- ### == ### -->
    <!-- Scripts system base -->
    <!-- ### == ### -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- Para agregar el sweet alert -->
    <script src="~/js~/js/sweetAler2.js"></script>
    <!-- scripts template -->
    <!--   Core JS Files   -->
    <script src="~/assets/js/core/popper.min.js"></script>
    <script src="~/assets/js/core/bootstrap.min.js"></script>
    <script src="~/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/assets/js/plugins/smooth-scrollbar.min.js"></script>

    <!-- Kanban scripts -->
    <script src="~/assets/js/plugins/dragula/dragula.min.js"></script>
    <script src="~/assets/js/plugins/jkanban/jkanban.js"></script>

    <script src="~/assets/js/plugins/chartjs.min.js"></script>

    <script src="~/assets/js/plugins/threejs.js"></script>
    <script src="~/assets/js/plugins/orbit-controls.js"></script>

    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
          var options = {
            damping: '0.5'
          }
          Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>

    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/assets/js/soft-ui-dashboard.min.js?v=1.0.7"></script>

 
    <!-- Data Table-->
    <script src="~/assets/js/DataTable.js"></script>
    <script src="~/assets/js/DataTableEsp.js" asp-append-version="true"></script>
 
    @await RenderSectionAsync("Scripts", required: false)



</body>
</html>
