
@using MarineFarm.DTO;
@model Periodo

@{
    ViewData["Title"] = ViewBag.heading = "Historial Produccion";
    // => este es sobre el boton para expandir y el grupo de botones
    ViewBag.ProduccionAriaExpanded = "true";
    ViewBag.ProduccionGroupActive = "active";
    // => este es simplemente para que se vea la poscicion actual
    ViewBag.ProduccionColapseGroup = "show";
    ViewBag.HProduccionNavLink = "active";
    List<ProduccionDTO_out> modelo = ViewBag.history;
    string inicio = ViewBag.inicio;
    string fin = ViewBag.fin;

}
<form asp-action="HistorialF" method="post" >
    <div class="row mt-4">
        <div class="col-12 text-center">
            <div class="card">
            <div class="card-header">
                Rango de busqueda
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-6">
                         <label class="control-label" for="inicio" >Inicio </label>   
                         <input name="Inicio" id="Inicio" class="form-control" type="date" value="@inicio"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label control-label="fin" for="Fin">fin </label>
                        <input name="Fin" id="Fin" class="form-control" type="date" value="@fin"/>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <input type="submit" class="btn btn-primary" value="filtrar"/>
            </div>
        </div>
        </div>
    </div>
</form>

@if(modelo==null || modelo.Count < 1)
{
    <div class="row mt-2">
       <div class="col-12">
        <div class="card">
            No Hay datos en el periodo seleccionado
          </div>
        </div>
    </div>
}
else{
    <div class="row mt-2 ">
        <div class="col-12">
            <div class="card p-3">
                <!-- Card header -->
                <div class="card-header">
                  
                    <h5 class="mb-0">Historial De Produccion</h5>
                </div>
                <div class="table-responsive">
                    <table class="table table-flush p-3" id="MarineTable">
                        <thead class="thead-dark">
                            <tr class="text-center">
                                <th>Fecha</th>
                                <th>Supervisor A Cargo</th>
                                <th><i class="text-dark fa fa-gears"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                                @foreach (var item in modelo)
                                {
                                    <tr class="text-center">
                                        <td class=" text-sm font-weight-bold">@item.Fecha.ToString("dd/MM/yyyy")</td>
                                        <td class="text-sm font-weight-normal">@item.SupervName || @item.SupervEmail</td>
                                        <td class="text-sm font-weight-light">
                                            <a asp-action="Details" asp-route-id="@item.id" class="btn btn-primary btn-round"><i class="fa fa-see "></i></a>
                                        </td>
                                    </tr>
                                }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}