
@using MarineFarm.DTO;
@model IEnumerable<ClienteDTO_out>

@{
    ViewData["Title"] = ViewBag.heading = "Clientes Activos";
    // => este es sobre el boton para expandir y el grupo de botones
    ViewBag.ClienteAriaExpanded = "true";
    ViewBag.ClienteGroupActive = "active";
    // => este es simplemente para que se vea la poscicion actual
    ViewBag.ClienteColapseGroup = "show";
    ViewBag.ClienteNavLink = "active";

}

<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <!-- Card header -->
            <div class="card-header">
                <p class="text-sm mb-0">
                    <a asp-action="Crear" class="btn btn-primary btn-round" ><i class="fa fa-plus"></i></a>
                </p>
                <h5 class="mb-0">Listado De Clientes Activos</h5>
            </div>
            <div class="table-responsive">
                <table class="table table-flush" id="MarineTable">
                    <thead class="thead-dark">
                        <tr class="text-center">
                            <th>Nombre</th>
                            <th>Desc</th>
                            <th>RUT</th>
                            <th><i class="text-dark fa fa-gears"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Count() > 0)
                            @foreach (var item in Model)
                            {
                                <tr class="text-center">
                                    <td class=" text-sm font-weight-bold">@item.Name</td>
                                    <td class="text-sm font-weight-normal">@item.Desc</td>
                                    <td class="text-sm font-weight-normal">@item.RUT</td>
                                    <td class="text-sm font-weight-light">
                                        <a asp-action="Editar" asp-route-id="@item.id" class="btn btn-primary btn-round"><i class="fa fa-edit "></i></a>
                                        <a asp-action="Eliminar" asp-controller="Cliente" asp-route-id="@item.id" class="btn btn-danger btn-round"><i class="fa fa-trash "></i></a>
                                    </td>
                                </tr>
                            }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
    const dataTableSearch = new simpleDatatables.DataTable("#datatable-search", {
        searchable: true,
        fixedHeight: true
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

