@using MarineFarm.DTO;
@model PedidoDTO_out

    @{
    ViewData["Title"] = ViewBag.heading = "Detalles del pedido";
    // => este es sobre el boton para expandir y el grupo de botones
    ViewBag.PedidoAriaExpanded = "true";
    ViewBag.PedidoGroupActive = "active";
    // => este es simplemente para que se vea la poscicion actual
    ViewBag.PedidoColapseGroup = "show";
    ViewBag.PedidoNavLink = "active";

}  

<input type="hidden" id="id" value="@Model.id" />

 <div class="row mt-4">
        <div class="col-sm-12">
          <div class="card h-100">
            <div class="card-header pb-0 p-3">
              <div class="row">
                <div class="col-md-6">
                 @if (!User.IsInRole("Superv"))
                   {
                       <h5 class="mb-0 card-title">Cliente: @Model.Cliente </h5>
                       <h6 class="mb-0 card-subtitle">Solicitante: @Model.Solicitante </h6>
                   }
                   <p class="mb-0 card-text">Estado: @Model.EstadoDesc </p>
                </div>
                <div class="col-md-6 d-flex justify-content-end align-items-center">
                  <i class="far fa-calendar-alt me-2"></i>
                  <small>Generado: @Model.FechaSolicitud.ToString("dd/MM/yyyy")  </small>
                   <p class="mb-0 card-text"/>Posible Entrega: @Model.FechaEntregaPosible.ToString("dd/MM/yyyy") </p>
                </div>
              </div>
            </div>
            <div class="card-body p-3">
              <ul class="list-group">
                  @foreach (var item in Model.Productos)
                 {
                        <li class="list-group-item border-0 justify-content-between ps-0 pb-0 border-radius-lg">
                            <div class="d-flex">
                                <div class="d-flex align-items-center">
                                    @if (item.Complete)
                                    {
                                        <div class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-3 p-3 btn-sm d-flex align-items-center justify-content-center"> 
                                            <i class="fa-solid fa-check"></i>
                                        </div>
                                    }
                                    @if (!item.Complete)
                                    {
                                        <div class="btn btn-icon-only btn-rounded btn-outline-danger mb-0 me-3 p-3 btn-sm d-flex align-items-center justify-content-center"> 
                                            <i class="fa-solid fa-x"></i>
                                        </div>
                                                                            
                                    }

                            <div class="d-flex flex-column">
                              <h6 class="mb-1 text-dark text-sm">@item.Marisco <i class="fa-solid fa-arrow-right"></i> @item.TipoProduccion <i class="fa-solid fa-arrow-right"></i> @item.Calibre <i class="fa-solid fa-arrow-right"></i> @item.Empaquetado</h6>
                              <span class="text-xs">Cantidad Solicitada: @item.Cantidad </span>
                            </div>
                          </div>
                          <div class="d-flex align-items-center text-danger text-gradient text-sm font-weight-bold ms-auto">
                            
                          </div>
                        </div>
                        <hr class="horizontal dark mt-3 mb-2" />
                      </li>
                 }
              </ul>
            </div>
            @if (User.IsInRole("AdmoSistema") || User.IsInRole("Gerenteplanta"))
            {
                <div class="card-footer">
                    <div class="btn-group">
                        <a asp-action="index" class="btn btn-outline-primary">Volver</a>
                        @if (Model.Completado)
                        {
                            <button id="completar" asp-action="CompletarPedido" asp-route-id="@Model.id" class="btn btn-primary">Completar Pedido</button>
                        }
                            <button id="eliminar" class="btn btn-danger">Eliminar Pedido</button>
                            
                    </div>
            </div>
            }
          </div>
        </div>
      
      </div>    


      <script>
      
       const btnEliminar=document.getElementById("eliminar")
   
       const btnCompletar=document.getElementById('completar')
       const id=document.getElementById("id").value
       //para eliminar un pedido
       btnEliminar.addEventListener('click',()  =>  {
           Swal.fire({
             title: 'Razón por la que se elimina el pedido',
             input: 'text',
             inputAttributes: {
               autocapitalize: 'off'
             },
             showCancelButton: true,
             confirmButtonText: 'Eliminar',
             showLoaderOnConfirm: true,
             preConfirm: (razon) => {
               
                 let data={
                     EliminadoId: id,
                     Razon:razon
                 }

                return  $.ajax({
                    data: data,
                    url:   '/Pedido/Eliminar', //archivo que recibe la peticion
                    type:  'post', //método de envio
                    success:  function (response) { //una vez que el archivo recibe el request lo procesa y lo devuelve
                          if(response){
                              return true
                          }else{
                              AlertError("Upps, Error Inesperado","algo no esta bien intente de nuevo mas tarde")
                          }
                    }
                 });
             },
             allowOutsideClick: () => !Swal.isLoading()
                }).then((result) => {
                  if (result.isConfirmed) {
                    Swal.fire({
                      title: `Pedido Eliminado`,
                    })
                     setTimeout( function() { window.location.href = "/Pedido"; }, 1500 )
                  }
                })

            } )

    // // !=> para completar un pedido
       btnCompletar.addEventListener('click',()=>{
           let data={
               id:id
           }
           console.log(data)
           $.ajax({
               
                url:   `/Pedido/CompletarPedido/${id}`, //archivo que recibe la peticion
                type:  'get', //método de envio
                success:  function (response) { //una vez que el archivo recibe el request lo procesa y lo devuelve
                       if(response){
                          window.location.href = "/Pedido";
                       }
                       else{
                              AlertError("Upps, Error Inesperado","algo no esta bien intente de nuevo mas tarde")
                       }
                    }
                })
       })      
            
      </script>